div{
    width: 100%;
    height: 100%;
    background-color: aqua;
    box-sizing: border-box;
    position: absolute;
}

.header{
    width: 100%;
    height: 100vh;
    text-align:justify;
    padding: 20px;
    border: 5px solid #ff553f ;
    position: relative;
    top: 20px;
    /* background-image: linear-gradient( to top  left, #b2b2e7 ,red ,orange,blue,pink,black); */
    background-image: linear-gradient(to left , transparent ,blue , red);
}